body {
  background-image: url('https://img.freepik.com/free-vector/triangle-background-pattern_1319-107.jpg?size=338&ext=jpg');
  background-repeat: repeat;
  font-family: Courier, monospace;
}

#header {
  width: 100%;
  height: 1.5em;
  font-size: 5em;
  background-color: #bbb;
  margin-bottom: 10px;
}

#message {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em
}

#messagePage2 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#message1 {
  font-size: 2em
}

#messagePage21 {
  font-size: 2em
}

#message2 {
  font-size: 1em
}

#messageInput, #messageButton {
  margin: 1em;
}


#mot {
  font-size: 2em;
  width: 100%
}

#colorButton {
  margin-bottom: 10px;
}

#top {
  background-color: #52534B;
}

.yes {
  background-color: #18A924;
}

.no {
  background-color: #D91806;
}

#rien{
  background-color: #BCC184;
}

#masquer {
  visibility: hidden;
}

#partie {
  text-align: center;
  width: 100%;
}

#nike {
  position: relative;
  margin-top: -510px;
  z-index: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inv {
  visibility: hidden;
}

#motADeviner {
  text-align: center;
  font-size: 1.5em;
}
