<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pictionary</title>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style_jeu.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../semantic/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div class="ui leaderboard test ad" data-text="PICTIONARY" id="header"></div>

  <div id="jeu">
    <!-- ACCUEIL PAGE N°1 -->
    <div v-if="affichage.page==1">
      <div class="ui message" id="message">
        <p id="message1">
          Bienvenue sur Pictionary !
        </p>
        <p id="message2">
          {{affichage.message}}
        </p>
        <div class="ui input" id="messageInput">
          <input type="text" v-model="user.name">
        </div>
        <br>
        <button class="ui green button" id="messageButton" v-on:click="connect">
          C'est parti !
        </button>
      </div>
    </div>

    <!-- CHOIX PARTIE PAGE N°2 -->
    <div v-if="affichage.page==2">

      <div class="ui message" id="messagePage2">
        <p id="messagePage21">
          Salut {{user.name}} !
        </p>
        <button class="ui red button" v-on:click="deco">Déconnexion</button>
      </div>

      <div class="ui grid">
        <div class="one wide column"></div>
        <div class="six wide column">

          <div class="ui message" id="partie">
            <p id="message1">
              Créez votre partie !
            </p>
            <p id="message2">
              La partie sera à votre nom
            </p>
            <br>
            <button class="ui green button" id="messageButton" v-on:click="creer">
              C'est parti !
            </button>
          </div>

        </div>
        <div class="two wide column"></div>
        <div class="six wide column">

          <div class="ui message" id="partie">
            <p id="message1">
              Rejoignez une partie !
            </p>
            <p id="message2">
              {{affichage.messageDroite1}}
            </p>
            <div class="ui input" id="messageInput">
              <input type="text" v-model="affichage.nameAmi">
            </div>
            <br>
            <button class="ui blue button" id="messageButton" v-on:click="partieAmi">
              C'est parti !
            </button>
            <br>
            <p id="message2">
              {{affichage.messageDroite2}}
            </p>
            <button class="ui orange button" id="messageButton" v-on:click="partieAleatoire">
              Partie aléatoire
            </button>
          </div>

        </div>
        <div class="one wide column"></div>
      </div>
    </div>

    <!-- JEU PAGE N°3 -->
    <div v-if="affichage.page==3">
      <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">

          <div class="ui message" v-if="partie.mots && user.admin" id="motADeviner">
            <div class="header">
              {{partie.mots[partie.manche]}}
              <p style="float: right; font-size:1em">Temps restant: {{partie.tps}}</p>
            </div>
          </div>

          <div class="ui message" v-if="!user.admin">
            {{affichage.messageJoueur}}
            <div class="ui input" style="margin-left: 1em" v-bind:class="{inv: user.success}">
              <input placeholder="Search..." type="text" id="input" v-model="user.proposition">
            </div>
            <p style="float: right">Temps restant: {{partie.tps}}</p>
          </div>

        </div>
        <div class="four wide column"></div>
      </div>

      <div class="ui grid">
        <div class="one wide column"></div>
        <div class="two wide column">

          <table class="ui five column table">
            <thead>
              <tr>
                <th id="top">PLAYERS</th>
                <th id="top">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="joueur in partie.joueurs">
                <td v-bind:class="{yes:joueur.success, no:!joueur.success}">{{joueur.pseudo}}</td>
                <td style="background-color:#ddd">{{joueur.score}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="one wide column"></div>
        <div class="eight wide column" id="canvas">
          <!-- schlagueurie -->
        </div>
        <div class="one wide column"></div>
        <div class="one wide column">
          <div id="colorButton"><button class="ui red button" id="red" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui green button" id="green" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui yellow button" id="yellow" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui blue button" id="blue" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui black button" id="black" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui orange button" id="orange" onclick="color(this)" v-bind:class="{inv:!user.admin, vis:user.admin}"><p id="masquer">EFFACER</p></button></div>
          <div id="colorButton"><button class="ui button" onclick="erase()" v-bind:class="{inv:!user.admin, vis:user.admin}"><p>EFFACER</p></button></div>
        </div>
        <div class="three wide column"></div>
      </div>
      <canvas id="can" :width="user.ecran/2" :height="user.ecran*0.3" style="position:absolute;z-index:1;top:200px;left:25%; border: 1px solid black; background-color: white;"></canvas>

      <div v-if="partie.etatDuJeu==1" id="nike">
        <div class="ui icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">
              {{affichage.alerte}}
              <p v-if="partie.manche>0">
                Le mot était {{partie.mots[partie.manche-1]}}
              </p>
            </div>
            <p>Dessinateur : {{partie.room}}</p>
            <p>La manche {{partie.manche +1}} va bientôt commencer</p>
            <p>Le dessinateur décide de quand lancer la partie</p>
            <div class="ui grid">
              <div class="five wide column"></div>
              <div class="three wide column">
                <table class="ui very basic collapsing celled table">
                  <tbody>
                    <tr>
                      <td>
                        Joueur 1
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 2
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 3
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 4
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 5
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 6
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="four wide column">
                <table class="ui very basic collapsing celled table">
                  <tbody>
                    <tr v-for="joueur in partie.joueurs">
                      <td>
                        {{joueur.pseudo}}
                      </td>
                      <td>
                        {{joueur.score}} pts
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="four wide column"></div>
            </div>
            <br><br><br>
            <button class="ui blue button" v-on:click="pret" v-if="user.admin">C'est parti !</button>
          </div>
        </div>
      </div>
<!-- PARTIE FINIE ! -->
      <div v-if="partie.etatDuJeu==3" id="nike">
        <div class="ui icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">
              PARTIE TERMINÉE !
            </div>
            <p>Dessinateur : {{partie.room}}</p>
            <p>Voici le classement final :</p>
            <div class="ui grid">
              <div class="five wide column"></div>
              <div class="three wide column">
                <table class="ui very basic collapsing celled table">
                  <tbody>
                    <tr>
                      <td>
                        Joueur 1
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 2
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 3
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 4
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 5
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Joueur 6
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="four wide column">
                <table class="ui very basic collapsing celled table">
                  <tbody>
                    <tr v-for="joueur in partie.joueurs">
                      <td>
                        {{joueur.pseudo}}
                      </td>
                      <td>
                        {{joueur.score}} pts
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="four wide column"></div>
            </div>
            <br><br><br>
            <button class="ui red button" v-on:click="quitter">Quitter la partie</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
  <!-- <script src="../js/app.js" type="module"></script> -->
  <script type="text/javascript">

  var socket = io('http://localhost:3000');

  var TIME = 45

  var jeu = new Vue({
    el: '#jeu',

    data: {
      user: {
        name: '',
        id: '',
        admin: false,
        points: 0,
        success: false,
        proposition: '',
        ecran: document.body.clientWidth,
      },
      partie: {
        etatDuJeu: 1, //0 joue, 1 en attente, 2 existe plus, 3 finie
        room: '',
        joueurs: [],
        manche: 0,
        mots: undefined,
        tps: 0,
      },
      affichage: {
        page: 1,
        message: 'Entrez votre pseudo pour jouer :',
        messageDroite1: "Entrez le nom de l'ami qui a créé la partie :",
        messageDroite2: "Rejoignez  une partie aléatoire :",
        messageJoueur: "Alors, c'est quoi ?",
        nameAmi: '',
        alerte: "EN ATTENTE DE PLUS DE JOUEUR"
      }

    },

    methods: {
      connect: () => {
        if(jeu.user.name!=""){
          socket.emit('login', jeu.user.name)
        } else {
          jeu.affichage.message = 'Stp déconne pas mec'
        }
        socket.on('loginres', (res,id) => {
          if (res) {
            jeu.affichage.page = 2
            jeu.user.id = id
          } else {
            jeu.affichage.message = 'Pseudo déja pris !'
          }
          this.socket.removeListener('loginres')
        })
        socket.on('pret', () => {   //savoir qd la partie est lancée
          jeu.partie.etatDuJeu = 0
          jeu.partie.tps = TIME
          jeu.user.success = false
          for(j in jeu.partie.joueurs){
            jeu.partie.joueurs[j].success = false
          }
          jeu.affichage.messageJoueur = "Alors, c'est quoi ?"
          init(jeu.user.admin)
          eraseRes()
          if(!jeu.user.admin) {
            input = document.getElementById('input')
            input.addEventListener('keyup', () => {
              if(jeu.partie.mots != undefined && jeu.user.proposition==jeu.partie.mots[jeu.partie.manche]) {
                socket.emit('trouver', jeu.user.name, jeu.partie.room, jeu.partie.tps, jeu.partie.manche)
                jeu.user.proposition = ''
                jeu.user.success = true
                jeu.affichage.messageJoueur = "Bravo, c'etait bien "+jeu.partie.mots[jeu.partie.manche]+" !"
                // input.removeEventListener('keyup' () => {})
              }
            })
          }
        })
        socket.on('rejoindrerestous', (joueurs) => {  //savoir qd un pelo se ramène
          jeu.partie.joueurs = joueurs
        })
        socket.on('trouverres', (joueurs) => { //qd un joueur a trouvé
          jeu.partie.joueurs = joueurs
        })
        socket.on('tpsmoins', () => {
          jeu.partie.tps--
        })
        socket.on('tpsfinish', () => {
          for(j in jeu.partie.joueurs){
            jeu.partie.joueurs[j].success = false
          }
          jeu.partie.tps = TIME*100
          jeu.partie.etatDuJeu = 1
          jeu.partie.manche++
          jeu.affichage.alerte = "ATTENTE DE LA MANCHE SUIVANTE"
        })
        socket.on('partiefinish', () => {
          jeu.partie.etatDuJeu = 3
        })
        socket.on('cbarre', () => {
          jeu.quitter()
        })
        socket.on('joueurscbarre', (i) => {
          console.log(i)
          jeu.partie.joueurs.splice(i,1)
        })
      },

      deco: () => {
        jeu.affichage.page = 1;
        socket.emit('deco', jeu.user.name)
      },

      creer: () => {
        jeu.affichage.page = 3
        socket.emit('creer', jeu.user.name)
        socket.on('creerres', (mots) => {
          jeu.user.admin = true
          jeu.partie.etatDuJeu = 1
          jeu.partie.room = jeu.user.name
          jeu.affichage.page = 3
          jeu.partie.mots = mots
          jeu.partie.manche = 0
        })
      },

      partieAmi: () => {
        socket.emit('rejoindre', jeu.affichage.nameAmi, jeu.user.name)
        socket.on('rejoindreerr', (msg) => {
          jeu.affichage.messageDroite1=msg
        })
        socket.on('rejoindreressolo', (room,joueurs,mots) => {
          jeu.partie.joueurs = joueurs
          jeu.partie.room = room
          jeu.affichage.page = 3
          jeu.partie.mots = mots
          jeu.partie.manche = 0
        })
      },

      partieAleatoire: () => {
        socket.emit('partieAleatoire', jeu.user.name)
        socket.on('aleaerr', (msg) => {
          jeu.affichage.messageDroite2=msg
        })
        socket.on('aleasolo', (room,joueurs,mots) => {
          jeu.partie.joueurs = joueurs
          jeu.partie.room = room
          jeu.affichage.page = 3
          jeu.partie.mots = mots
          jeu.partie.manche = 0
        })
      },

      pret: () => {
        socket.emit('pret', jeu.user.name)
        if(jeu.user.admin) {
          jeu.timer()
        }
      },

      timer: () => {
        var myVar = setInterval(myTimer, 1000);
        socket.on('stop', () => {
          console.log('allé stp')
          clearInterval(myVar)
        })
        function myTimer() {
          if(jeu.partie.tps != 0){
            socket.emit('tpsmoins', jeu.partie.room)
            jeu.partie.tps--
          } else {
            socket.emit('tpsfinish', jeu.partie.room, jeu.partie.manche)
            clearInterval(myVar)
          }
        }
      },

      quitter: () => {
        if (jeu.user.admin) {
          socket.emit('killpartie', jeu.partie.room)
        } else {
          socket.emit('leaveroom', jeu.partie.room)
        }
        jeu.user.admin = false
        jeu.user.points = 0
        jeu.user.success = false
        jeu.user.proposition = ''
        jeu.partie.etatDuJeu = 1 //0 joue, 1 en attente, 2 existe plus, 3 finie
        jeu.partie.room = ''
        jeu.partie.joueurs = []
        jeu.partie.manche = 0
        jeu.partie.mots = undefined
        jeu.partie.tps = 0
        jeu.affichage.page = 2
        jeu.affichage.messageDroite1 = "Entrez le nom de l'ami qui a créé la partie :"
        jeu.affichage.messageDroite2 = "Rejoignez  une partie aléatoire :"
        jeu.affichage.messageJoueur = "Alors, c'est quoi ?"
        jeu.affichage.nameAmi = ''
        jeu.affichage.alerte = "EN ATTENTE DE PLUS DE JOUEUR"
      }
    }
  })

  // var socket = io('http://localhost:8000');
  // // var socket = io('http://192.168.43.143:8000');

  socket.on('mouseup', (X,Y,color,taille) => {
    prop = jeu.user.ecran/taille
    findxy('up', X*prop, Y*prop, color)
  })
  socket.on('mousedown', (X,Y,color,taille) => {
    prop = jeu.user.ecran/taille
    console.log(prop)
    findxy('down', X*prop, Y*prop, color)
  })
  socket.on('mousemove', (X,Y,color,taille) => {
    prop = jeu.user.ecran/taille
    findxy('move', X*prop, Y*prop, color)
  })
  socket.on('mouseout', (X,Y,color,taille) => {
    prop = jeu.user.ecran/taille
    findxy('out', X*prop, Y*prop, color)
  })
  socket.on('erase', () => {
    eraseRes()
  })

  var canvas, ctx, flag = false,
  prevX = 0,
  currX = 0,
  prevY = 0,
  currY = 0,
  dot_flag = false;
  move = false;

  var x = "black",
  y = 2;

  function init(admin) {
    canvas = document.getElementById('can');
    ctx = canvas.getContext("2d");
    w = canvas.width;
    h = canvas.height;

    if(admin){
      canvas.addEventListener("mousemove", function (e) {
        if (move) {
          var X = e.offsetX
          var Y = e.offsetY
          findxy('move', X, Y, x)
          socket.emit('mousemove', X, Y, x, jeu.user.ecran); // SOCKET EMIT
        }
      }, false);
      canvas.addEventListener("mousedown", function (e) {
        var X = e.offsetX
        var Y = e.offsetY
        move = true;
        findxy('down', X, Y, x)
        socket.emit('mousedown', X, Y, x, jeu.user.ecran); // SOCKET EMIT
      }, false);
      canvas.addEventListener("mouseup", function (e) {
        var X = e.offsetX
        var Y = e.offsetY
        move = false;
        findxy('up', X, Y, x)
        socket.emit('mouseup', X, Y, x, jeu.user.ecran); // SOCKET EMIT
      }, false);
      canvas.addEventListener("mouseout", function (e) {
        if (move) {
          var X = e.offsetX
          var Y = e.offsetY
          move = false;
          findxy('out', X, Y, x)
          socket.emit('mouseout', X, Y, x, jeu.user.ecran); // SOCKET EMIT
        }
      }, false);
    }
  }

  function color(obj) {
    switch (obj.id) {
      case "green":
      x = "green";
      break;
      case "blue":
      x = "blue";
      break;
      case "red":
      x = "red";
      break;
      case "yellow":
      x = "yellow";
      break;
      case "orange":
      x = "orange";
      break;
      case "black":
      x = "black";
      break;
      case "white":
      x = "white";
      break;
    }
    if (x == "white") y = 14;
    else y = 2;

  }

  function draw(color) {
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(currX, currY);
    ctx.strokeStyle = color;
    ctx.lineWidth = y;
    ctx.stroke();
    ctx.closePath();
  }

  function erase() {
    ctx.clearRect(0, 0, w, h);
    socket.emit('erase'); // SOCKET EMIT
  }

  function eraseRes() {
    ctx.clearRect(0, 0, w, h);
  }

  function findxy(res, X, Y, color) {
    if (res == 'down') {
      prevX = currX;
      prevY = currY;
      currX = X
      currY = Y

      flag = true;
      dot_flag = true;
      if (dot_flag) {
        ctx.beginPath();
        ctx.fillStyle = color;
        ctx.fillRect(currX, currY, 2, 2);
        ctx.closePath();
        dot_flag = false;
      }
    }
    if (res == 'up' || res == "out") {
      flag = false;
    }
    if (res == 'move') {
      if (flag) {
        prevX = currX;
        prevY = currY;
        currX = X
        currY = Y
        draw(color);
      }
    }
  }

  </script>
</body>
</html>
